.parent{
  display: flex;
  justify-content: center;
}

.cards{
  width: 30%;
  height:60%;
  border: 1px solid rgb(250, 9, 9);
  padding: 2%;
  margin: 2%;
  box-shadow: 0px 8px 8px -8px;
  text-align: center;
  background-color: #EBDEF0;
}
.cards.img{
  
  width: 50%;
}
.link{
  text-decoration: none;
}
.btn{
  background-color: blueviolet;
  color:#fff;
  padding:1%;
  text-decoration: none;
  display: block;
}
.cards2{
  border:1px solid rgb(233, 35, 14);
  width:75%;
  padding:2%;
  margin:2%;
  box-shadow: 0px 8px 8px -8px #000;
  background-color: #EBF5FB;
}
.skills{
  margin: 5%;
  padding:.7%;
  color:#fff;
  border-radius: 10px;
  background-color:#D2B4DE;
  box-shadow:0px 8px 8px -8px #76D7C4 ;
   border: 1px solid #D5F5E3;

}